.container {
  width: 80%;
  margin: 1em auto;
}

.container nav {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 1em;
}
.container nav > a.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}
.container .links {
  display: flex;
  justify-content: space-evenly;
}
.container .links a {
  margin: auto 2em;
  text-decoration: none;
  font-weight: bold;
}
.blog-link a {
  text-decoration: none;
  text-transform: capitalize;
}
.comment {
  color: #777;
}
